// --- Fontes
.font-source-sans-regular {
  font-family:'source_sans_pro', Arial, sans-serif;
  font-weight: normal;
}
.font-source-sans-bold {
  font-family:'source_sans_pro', Arial, sans-serif;
  font-weight: bold;
}
.font-source-sans-black {
  font-family:'source_sans_pro', Arial, sans-serif;
  font-weight: 900;
}
.font-source-sans-light {
  font-family:'source_sans_pro', Arial, sans-serif;
  font-weight: 300;
}


// --- Couleurs
$white: #fff;
$black: #000;
$color01: #ffc774;
$color02: #f79a21;
$color03: #0e96d0;
$color04: #8b8a8a;
$color05: #ebebeb;
$color06: #443533;
$color07: #282828;
$color08: #e1e1e1;
$color09: #384f9d;
